* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  position: absolute;
  top: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}
.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 3s ease;
}
.square:hover {
  transition-duration: 0ms;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 1.1em;
  font-family: sans-serif;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}
footer a {
  color: #01FFFF;
  text-decoration: none;
  text-shadow: none;
}
footer i {
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease;
}
footer i:hover {
  transform: scale(1.6);
}
footer a:hover .fa-instagram {
  color: #e1306c;
}
footer a:hover .fa-github {
  color: white;
}
